/* Global styles */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Flash message animation */
@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.flash-message {
  position: fixed;
  top: 24px;
  right: 24px;
  width: 500px;
  z-index: 1050;
  animation: slideIn 0.5s forwards;
}
